{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load i18n %}
{% load markdownify %}

{% block main %}
{% for s in slots %}
  {% if s.free %}
    <div class="box has-background-success">
      <p class="is-size-5 has-text-centered has-text-weight-bold">{{s.start}} - {{s.end}} ({{s.duration}})</p>
    </div>
  {% else %}
    <div class="card my-2">
        <header class="card-header has-background-info">
          <p class="card-header-title has-text-white">
            {{s.start}} - {{s.end}}
          </p>
          <p class="card-header-title"><a class="has-text-white" href="{% url 'fisiocore:view_patient' s.patient.id %}">{{s.patient}}</a></p>
        </header>
        <div class="card-content">
          <div class="content">
            {{s.remarks|markdownify}}
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" class="card-footer-item">Edit</a>
          <a href="#" class="card-footer-item">Delete</a>
          {% if s.treatment_plan %}
          <a href="#" class="card-footer-item">Treatment plan</a>
          {% endif %}
        </footer>
      </div>
    {% endif %}
{% endfor %}
{% endblock %}