{% extends "base_clinic_history.html" %}
{% load static %}
{% load i18n %}
{% load markdownify %}
{% block main %}

{# listing of clinical images for a patient within the examination page #}

    <div class="columns">
        <div class="column is-one-third ">
            <div class="panel is-primary">
                <div class="panel-heading">
                    {% translate 'Examination' %}
                </div>
                <div class="panel-block">
                    <p class="control has-icons-left">
                      <input id="searchbox" class="input" type="text" placeholder="Search" onkeyup="searchItems()">
                      <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                      </span>
                    </p>
                  </div>
                  <p class="panel-tabs">
                    <a href="{% url 'fisiocore:examination' patient.id %}">Examination</a>
                    <a class="is-active">Images</a>
                    <a href="{% url 'fisiocore:documentlist' patient.id %}">Docs</a>
                  </p>
                  {% for i in images %}
                      <a href="{% url 'fisiocore:imagelist' patient.id i.id %}" class="searchable panel-block {%if i.id == image.id %}is-active{% endif %}">
                        <span class="panel-icon">
                        <i class="fas fa-comment-medical" aria-hidden="true"></i>
                        </span>
                        {{i.last_update|date:'d/m/Y'}}: {{i.description}}
                      </a>
                  {% endfor %}
            </div>
        </div>
        <div class="column">
            <table class="table">
                <tbody>
                    <tr>
                        <td><b>{% translate 'Creation date' %}</b></td>
                        <td>{{image.creation_date}}</td>
                    </tr>
                    <tr>
                        <td><b>{% translate 'Last update' %}</b></td>
                        <td>{{image.last_update}}</td>
                    </tr>
                    <tr>
                        <td><b>{% translate 'Image type' %}</b></td>
                        <td>{{image.image_type}} ({{image.get_image_type_display}})</td>
                    </tr>
                    <tr>
                        <td><b>{% translate 'Projection' %}</b></td>
                        <td>{{image.projection}}</td>
                    </tr>
                    <tr>
                        <td><b>{% translate 'Description' %}</b></td>
                        <td>{{image.description}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="image">
                <img src="{{image.image.url}}">
            </div>
        </div>
</div>    
{% endblock %}
