{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block main %}
    
    <article class="message is-danger">
        <div class="message-header">
            <p>{% translate 'Deleting document' %}</p>
        </div>
        <div class="message-body">
            <p>
            {% translate 'Are you sure you want to delete this document:' %} "{{document.label}}"?
            </p>
        </div>
    </article>
    
    <form method="post" >
        {% csrf_token %}
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" name="confirm">
                    {% translate 'I understand the implications of this action and want to proceed' %}
                </label>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger">
                    <span class="icon is-small">
                        <i class="fas fa-skull"></i>
                    </span>
                    <span>
                        {% translate 'Delete' %}            
                    </span>
                </button>
            </div>
            <div class="control">
                <a class="button is-success" href="{% url 'fisiocore:view_document' document.id %}">
                    <span class="icon is-small">
                        <i class="fas fa-undo"></i>
                    </span>
                    <span>
                        {% translate 'Cancel' %}            
                    </span>
                </a>
            </div>
        </div>
    </form>
{% endblock %}
