{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load markdownify %}
{% block main %}

    <form method="post">
        {% csrf_token %}
    {{form}}
        <div class="level">
        <div class="level-left">
            <div class="level-item">
                
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <button class="button is-info">
                    <span class="icon">
                        <i class="fas fa-save"></i>
                    </span>
                    <span>
                        {% translate "save changes" %}
                    </span>
                </button>
            </div>
            <div class="level-item">
                <a class="button is-success" href="{% url 'fisiocore:view_patient' patient.id %}">
                    <span class="icon">
                        <i class="fas fa-undo"></i>
                    </span>
                    <span>
                        {% translate "cancel" %}
                    </span>
                </a>
            </div>
        </div>
    </div>
    </form>

{% endblock %}
