{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block main %}
<section class="section">
    <h1 class="title">{{title}}</h1>
    <form method="POST" action="{% url 'fisiocore:edit_examination' examination.id %}" >
        {% csrf_token %}
    {{form}}
        <div class="level">
        <div class="level-left">
            <div class="level-item">
                
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <button class="button is-info">
                    <span class="icon">
                        <i class="fas fa-plus-square"></i>
                    </span>
                    <span>
                        {% translate "Save changes" %}
                    </span>
                </button>
            </div>
            <div class="level-item">
                <a class="button is-success" href="{% url 'fisiocore:examination' examination.patient.id examination.id %}">
                    <span class="icon is-small">
                        <i class="fas fa-undo"></i>
                    </span>
                    <span>
                        {% translate 'Cancel' %}            
                    </span>
                </a>
            </div>
        </div>
    </div>
    </form>
</section>
{% endblock %}
