{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block main %}

    <form method="POST" >
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>{% translate "First name" %}</th>
                    <th>{% translate "Last name" %}</th>
                    <th class="is-hidden-mobile">{% translate "Date of birth" %}</th>
                    <th class="is-hidden-mobile">{% translate "Id card" %}</th>
                    <th class="is-hidden-mobile">{% translate "Post code" %}</th>
                    <th>{% translate "City" %}</th>
                    <th class="is-hidden-mobile">{% translate "Street" %}</th>
                    <th>{% translate "Export" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <td><a href="{% url 'fisiocore:view_patient' patient.id %}">{{patient.first_name}}</a></td>
                    <td><a href="{% url 'fisiocore:view_patient' patient.id %}">{{patient.last_name}}</a></td>
                    <td class="is-hidden-mobile" >{{patient.date_of_birth}}</td>
                    <td class="is-hidden-mobile">{{patient.id_card_number|default_if_none:''}}</td>
                    <td class="is-hidden-mobile">{{patient.post_code|default_if_none:''}}</td>
                    <td>{{patient.city|default_if_none:''}}</td>
                    <td class="is-hidden-mobile">{{patient.street|default_if_none:''}}</td>
                    <td class="has-text-centered">
                        <input type="checkbox" name="export" value="{{patient.id}}" value="{{patient.id}}">
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-info">
                        <span class="icon">
                            <i class="fas fa-save"></i>
                        </span>
                        <span>
                            {% translate "Export Selection" %}
                        </span>
                    </button>
                </div>
                <div class="level-item">
                    <a class="button is-success" href="{% url 'fisiocore:patients' %}">
                        <span class="icon">
                            <i class="fas fa-undo"></i>
                        </span>
                        <span>
                            {% translate "Cancel" %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </form>
    
{% endblock %}
