{% load i18n %}
<input type="hidden" name="user" value="{{form.user.value}}" >


<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="language">{{form.language.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                {{form.language}}
            </p>
            {% for error in form.language.errors %}
            <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.title.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="{{form.title.label}}" name="title" value="{{form.title.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-heading"></i>
                </span>
            </p>
            {% for error in form.title.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.body.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <textarea class="textarea" name="body" placeholder="{{form.body.label}}" rows="20">{{form.body.value|default_if_none:''}}</textarea>
            </p>
            {% for error in form.body.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>
