<input type="hidden" name="user" value="{{form.user.value}}" >-
<div class="field is-horizontal">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox" name="in_treatment" {%if form.in_treatment.value %}checked{% endif %}>
      Currently in treatment
    </label>
  </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.first_name.label}} / {{ form.last_name.label }}</label>
    </div>
    <div class="field-body">
        <div class="field">
        <p class="control is-expanded has-icons-left">
            <input class="input" type="text" placeholder="{{form.first_name.label}}" name="first_name" value="{{form.first_name.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
        </p>
        {% for error in form.first_name.errors %}
            <p class="help is-danger">{{error}}</p>
        {% endfor %}
        </div>
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="{{form.last_name.label}}" name="last_name" value="{{form.last_name.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
            {% for error in form.last_name.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.street.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="{{form.street.label}}" name="street" value="{{form.street.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-map"></i>
                </span>
            </p>
            {% for error in form.street.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.post_code.label}} / {{ form.city.label }}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="{{form.post_code.label}}" name="post_code" value="{{form.post_code.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
            {% for error in form.post_code.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="{{form.city.label}}" name="city" value="{{form.city.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-map-marker"></i>
                </span>
            </p>
            {% for error in form.city.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.date_of_birth.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="date" name="date_of_birth" value="{{form.date_of_birth.value|date:'Y-m-d'}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-calendar"></i>
                </span>
            </p>
            {% for error in form.date_of_birth.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.phone.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="{{form.phone.label}}" name="phone" value="{{form.phone.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-phone"></i>
                </span>
            </p>
            {% for error in form.phone.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.email.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="{{form.email.label}}" name="email" value="{{form.email.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
            {% for error in form.email.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.id_card_number.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="{{form.id_card_number.label}}" name="id_card_number" value="{{form.id_card_number.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-id-card"></i>
                </span>
            </p>
            {% for error in form.id_card_number.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.ss_number.label}} / {{form.ss_country.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="{{form.ss_number.label}}" name="ss_number" value="{{form.ss_number.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-id-card"></i>
                </span>
            </p>
            {% for error in form.ss_number.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="{{form.ss_country.label}}" name="ss_country" value="{{form.country.value|default_if_none:''}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-landmark"></i>
                </span>
            </p>
            {% for error in form.city.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.ss_issue_date.label}} / {{ form.ss_expiry_date.label }}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="date" placeholder="{{form.ss_isssue_date.label}}" name="ss_issue_date" value="{{form.ss_issue_date.value|date:'Y-m-d'}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-calendar"></i>
                </span>
            </p>
            {% for error in form.ss_issue_date.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="date" placeholder="{{form.ss_expiry_date.label}}" name="ss_expiry_date" value="{{form.ss_expiry_date.value|date:'Y-m-d'}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-calendar"></i>
                </span>
            </p>
            {% for error in form.ss_expiry_date.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.remarks.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <textarea class="textarea" name="remarks" placeholder="{{form.remarks.label}}">{{form.remarks.value}}</textarea>
            </p>
            {% for error in form.id_card_number.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>
