{% load i18n %}
<input type="hidden" name="user" value="{{form.user.value}}" >
<input type="hidden" name="treatment_plan" value="{{form.treatment_plan.value}}">
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.patient.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                {{form.patient}}
            </p>
            <p class="help is-info">{% translate 'Only patients with status "in treatment" will appear in the dropdown.' %}</p>
            {% for error in form.patient.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% if form.patient.value %}
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.treatment_plan.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                {{form.treatment_plan}}
            </p>
            {% for error in form.treatment_plan.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.therapist.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                {{form.therapist}}
            </p>
            {% for error in form.therapist.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.date.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                {{form.date}}
                <span class="icon is-small is-left">
                    <i class="fas fa-calendar"></i>
                </span>
            </p>
            {% for error in form.date.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.start.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                {{form.start}}
                <span class="icon is-small is-left">
                    <i class="fas fa-clock"></i>
                </span>
            </p>
            {% for error in form.start.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.end.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                {{form.end}}
                <span class="icon is-small is-left">
                    <i class="fas fa-clock"></i>
                </span>
            </p>
            {% for error in form.end.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.session_number.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                {{form.session_number}}
                <span class="icon is-small is-left">
                    <i class="fas fa-clock"></i>
                </span>
            </p>
            {% for error in form.session_number.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">{{form.remarks.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                {{form.remarks}}
                <span class="icon is-small is-left">
                    <i class="fas fa-thermometer"></i>
                </span>
            </p>
            {% for error in form.reason.errors %}
                <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>