{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load markdownify %}

{% block submenu %}
<div class="level">
    <div class="level-left">
        <div class="level-left">
            <div class="level-item">
                <div class="card mb-2">
                    <div class="card-header">
                        <p class="card-header-title">{{patient.first_name}} {{patient.last_name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="level-right">
        {% comment %}
        <div class="level-item">
            <a  href="{% url 'fisiocore:add_consent' patient.id %}" class="button is-info">
                <span class="icon">
                    <i class="fas fa-file"></i>
                </span>
                <span>
                    {% translate "Add signed consent" %}
                </span>
            </a>
        </div>
        {% endcomment %}
    </div>
</div>
<div class="tabs">
    <ul>
        <li class="is-medium"><a href="{% url 'fisiocore:view_patient' patient.id %}">{% translate 'Patient data' %}</a></li>
        <li class="is-medium"><a href="{% url 'fisiocore:examination' patient.id %}" >{% translate 'Medical history' %}</a></li>
        <li class="is-medium"><a href="{% url 'fisiocore:view_sessions' patient.id %}">{% translate 'Appointments' %}</a></li>
        <li><a>{% translate 'Invoicing' %}</a></li>
        <li class="is-active is_medium"><a href="{% url 'fisiocore:view_consents' patient.id %}">{% translate 'Informed consent' %}</a></li>
    </ul>
</div>
{% endblock %}

{% block main %}

<div class="panel is-primary">
    <div class="panel-heading">
        {% translate 'Unsigned or revoked' %}
    </div>
    {% for doc in unsigned.items %}
    <div class="panel-block">
            <span class="panel-icon">
                <i class="fas fa-file" aria-hidden="true"></i>
            </span>
            <a class="has-text-dark" href="{% url 'fisiocore:print_consent_document' patient.id doc.1.id %}" target="_blank">
                {{doc.1.title}}
            </a>
            <a class="button ml-2" href="{% url 'fisiocore:add_consent' patient.id doc.1.id %}">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
            </a>
        </div>
    {% endfor %}
</div>

<div class="panel is-primary">
    <div class="panel-heading">
        {% translate 'Signed' %}
    </div>
    {% for doc in signed %}
    <div class="panel-block">
            <span class="panel-icon">
                <i class="fas fa-file" aria-hidden="true"></i>
            </span>
            <a class="has-text-dark" href="{{doc.signed_consent.url}}" target="_blank">
                {{doc.consent_type.title}} ({% if doc.revoked %}revoked: {{doc.revoked}}{% else %}signed: {{doc.creation_date}}{% endif %})
            </a>
            <a class="button ml-2" href="{% url 'fisiocore:edit_consent' doc.id %}">
                <span class="icon">
                    <i class="fas fa-pen"></i>
                </span>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
