{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block submenu %}
<div class="tabs">
    <ul>
        <li class="is-medium"><a href="{% url 'fisiocore:calendar' prev_year prev_month %}{% if patient %}?patient={{patient.id}}{% endif %}">{{ prev_month_name }} {{ prev_year }}</a></li>
        <li class="is-active is-medium"><a>{{ month_name }} {{ year }}</a></li>
        <li class="is-medium"><a href="{% url 'fisiocore:calendar' next_year next_month %}{% if patient %}?patient={{patient.id}}{% endif %}">{{next_month_name}} {{ next_year }}</a></li>
    </ul>
</div>
{% endblock %}


{% block main %}

<table class="table is-bordered is-striped is-fullwidth">
    <thead>
        <tr>
            <th class="has-background-success">
                {% translate 'Monday' %}
            </th>
            <th class="has-background-success">
                {% translate 'Tuesday' %}
            </th>
            <th class="has-background-success">
                {% translate 'Wednesday' %}
            </th>
            <th class="has-background-success">
                {% translate 'Thursday' %}
            </th>
            <th class="has-background-success">
                {% translate 'Friday' %}
            </th>
            <th class="has-background-danger">
                {% translate 'Saturday' %}
            </th>
            <th class="has-background-danger">
                {% translate 'Sunday' %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for week in weeks %}
            <tr>
                {% for day in week %}
                        {% if day.0 == 0 %}
                            <td class="has-background-info" style="width:14.2%;">
                        {% elif day.1 == 5 %}
                        <td class="has-background-danger-light has-text-danger" style="width:14.2%;">
                            <b>{{day.0}}</b>
                        {% elif day.1 == 6 %}
                        <td class="has-background-danger-light has-text-danger" style="width:14.2%;">
                            <b>{{day.0}}</b>
                        {% elif day.0 == current_day %}
                        <td class="has-background-success-light has-text-success" style="width:14.2%; cursor:pointer;" onclick="location.href='{% url 'fisiocore:calendar_day' year month day.0 %}{% if patient %}?patient={{patient.id}}{% endif %}{% if treatmentplan %}&treatmentplan={{treatmentplan.id}}{% endif %}'">
                            <b>{{day.0}}</b>
                            <ul>
                                {% for s in sessions %}
                                    {% if s.date.day == day.0 %}
                                    <li><div class="tag is-info">{{ s.start}} - {{s.end}}</div></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <td style="width:14.2%; {% if day.0 > current_day %}cursor:pointer;{% else %}background-color:#ddd{% endif %}" {% if day.0 > current_day %}onclick="location.href='{% url 'fisiocore:calendar_day' year month day.0 %}{% if patient %}?patient={{patient.id}}{% endif %}{% if treatmentplan %}&treatmentplan={{treatmentplan.id}}{% endif %}'"{% endif %}>
                            <b>{{day.0}}</b>
                            <ul>
                                {% for s in sessions %}
                                    {% if s.date.day == day.0 %}
                                    <li>{{ s.start}} - {{s.end}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <a class="button is-info" href="{% url 'fisiocore:calendar' today.year today.month %}{% if patient %}?patient={{patient.id}}{% endif %}">{% translate "Go to current month" %}</a>
</div>

{% endblock%}

{% block js %}
{{ block.super }}

{% endblock %}