{% extends "fisiocash/base_listing.html" %}
{% load i18n %}
{% load number_fmt %}


{% block submenu %}
<div class="level">
    <div class="level-left">
        
    </div>
    <div class="level-right">
        <div class="level-item">
            <a class="button is-info" href="{% url 'fisiocash:add_quote' %}">
                <span class="icon">
                    <i class="fas fa-diagnoses"></i>
                </span>
                <span>
                    {% translate "Add quote" %}
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block item_nav %}
<nav class="panel is-primary">
    <p class="panel-heading">{% translate 'Month' %}<p>
    <p class="panel-tabs">
        <a href="{% url 'fisiocash:quotes' %}">{% translate 'Month' %}</a>
        <a class = "is-active">{% translate 'Patient' %}</a>
    </p>
    {% for patient in patients %}
    <a class="panel-block" href={% url 'fisiocash:quotes_by_patient' patient.id %}>
        <span class="panel-icon">
          <i class="fas fa-calendar" aria-hidden="true"></i>
        </span>
        {{patient.first_name}} {{patient.last_name}}
    </a>
    {% endfor %}
</nav>
{% endblock %}

{% block item_list %}
    {% for quote in quotes %}
    <div card="card">
        <header class="card-header  has-background-primary">
            <p class="card-header-title">{% translate 'Number' %} {{quote.id|invoice_nbr}} | {{quote.creation_date}} | {{quote.get_status_display}}</p>
        </header>
        <div class="card-content">
            <ul>
                <li>
                    <b>{% translate 'Name'%}:</b> <a href="{% url 'fisiocore:view_patient' quote.patient.id %}">{{quote.patient.first_name}} {{quote.patient.last_name}}</a>
                </li>
                <li>
                    <b>{% translate 'Street'%}:</b> {{quote.patient.street}}
                </li>
                <li>
                    <b>{% translate 'City'%}:</b> {{quote.patient.post_code}} {{quote.patient.city}}
                </li>
            </ul>
            <table class="table mt-2 is-fullwidth">
                <thead>
                    <tr>
                        <th>{% translate 'Qty' %}</th>
                        <th>{% translate 'Descrition' %}</th>
                        <th>{% translate 'Net unit price' %}</th>
                        <th>{% translate 'Net total price' %}</th>
                        <th>{% translate 'VAT' %}</th>
                        <th>{% translate 'Price' %}</th>
                    </tr>
                <thead>
                    <tbody>
                        {%for item in quote.items.all %}
                        <tr>
                            <td>{{item.quantity}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.net_unit_price}}{{currency}}</td>
                            <td>{{item.net_price}}{{currency}}</td>
                            <td>{{item.vat}}%</td>
                            <td>{{item.price}}{{currency}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td><b>{% translate 'Total amount' %}</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>{{quote.total|invoice_amount}}{{currency}}</b></td>
                        </tr>
                    </tfoot>
            </table>
        </div>
        <footer class="card-footer">
            {% if quote.status == 'ACCEPTED' %}
                <a href="#" class="card-footer-item">{% translate 'Create Invoice' %}</a>
            {% else %}
                <span class="card-footer-item has-text-grey">{% translate 'Create Invoice' %}</span>
            {% endif %}
            <a href="#" class="card-footer-item">{% translate 'Print' %}</a>
            <a href="#" class="card-footer-item">{% translate 'Edit' %}</a>
            <a href="#" class="card-footer-item">{% translate 'Refuse' %}</a>
            <a href="#" class="card-footer-item">{% translate 'Accept' %}</a>
        </footer>
    </div>
    {% endfor %}
{% endblock %}
