{% load static %}
{% load i18n %}
<html>
    <head>
        <title>{{title}}</title>
        <link href="{% static 'fisiocore/css/print.css' %}" rel="stylesheet">
        <link href="{% static 'fisiocore/css/fontawesome/css/all.css' %}" rel="stylesheet">
    </head>
    <body onload="window.print()">
        <header class="header">
            <div class="header-left">
            {% block header_left %}
                <p class="address-line">{{legal_name}}</p>
                <p class="address-line">{{address_line_1}}</p>
                <p class="address-line">{{address_line_2}}</p>
                {% if address_line_3 %}
                <p class="address-line">{{address_line_3}}</p>
                {% endif %}
                {% if address_line_4 %}
                <p class="address-line">{{address_line_4}}</p>
                {% endif %}
                <p class="spaced address-line"><span class="fas fa-phone-alt"></span> {{phone}}</p>
                <p class="address-line"><span class="fas fa-envelope"></span>  {{email}}</p>
                <p class="spaced address-line"><span class="fas fa-credit-card"></span> {{account_number}}</p>
                <p class="spaced address-line">{{tax_number}}</p>
            {% endblock %}
            </div>
            <div class="header-right">
                <img class="logo" src="{% static logo %}">
            {% block header_right %}
                <div class="document-type">
                    {{document_type}}
                </div>
                <p class="spaced-address-line">{% translate "Date" %}: {{date}}</p>
            {% endblock %}
            </div>
        </header>
        {% block body %}
        
        {% endblock %}
    </body>
</html>
