{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1" name="viewport">
            <title>
                {% block title %}
                    {% if title %}
                        {{title}}
                    {% else %}
                        Fisiomate
                    {% endif %}
                {% endblock %}
            </title>
            <link href="{% static 'fisiocore/css/fontawesome/css/all.css' %}" rel="stylesheet">
            <link href="{% static 'fisiocore/css/bulma/css/bulma.min.css' %}" rel="stylesheet">
    </head>
    <body>
        {% block main_menu %} 
            {% if main_menu_items %}
                <nav aria-label="main navigation" class="navbar is-dark " role="navigation">
                    <div class="navbar-brand">
                        <a aria-expanded="false" aria-label="menu" class="navbar-burger" role="button" data-target="navbar">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="navbar-menu" id="navbar">
                        <div class="navbar-start">
                            {% for item in main_menu_items %}
                                {% if item.0 %}
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link">
                                        {{item.1}}
                                    </a>
                                    <div class="navbar-dropdown is-boxed">
                                        {% for subitem in item.2 %}
                                            <a class="navbar-item" href="{% url subitem.1 %}">
                                                <span class="panel-icon has-text-info">
                                                    <i class="fas {{subitem.2}}" aria-hidden="true"></i>
                                                </span>
                                                {{subitem.0}}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% else%}
                                    <a class="navbar-item" href="{% url item.2 %}">
                                        <span class="panel-icon has-text-info">
                                            <i class="fas {{item.3}}" aria-hidden="true"></i>
                                        </span>
                                        {{item.1}}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="navbar-end" >
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                    <span class="panel-icon has-text-info">
                                        <i class="fas fa-user" aria-hidden="true"></i>
                                    </span>
                                    {{ user.get_username }}
                                </a>
                                <div class="navbar-dropdown is-boxed">
                                    <a class="navbar-item" href="{% url 'fisiocore:userprofile' %}">
                                        <span class="panel-icon has-text-info">
                                            <i class="fas fa-wrench" aria-hidden="true"></i>
                                        </span>
                                        {% translate 'Profile' %}
                                    </a>
                                    <a class="navbar-item" href="{% url 'fisiocore:stats' %}">
                                        <span class="panel-icon has-text-info">
                                            <i class="fas fa-chart-bar" aria-hidden="true"></i>
                                        </span>
                                        {% translate 'Statistics' %}
                                    </a>
                                    <div class="navbar-item">
                                        <span class="panel-icon has-text-info">
                                            <i class="fas fa-door-open" aria-hidden="true"></i>
                                        </span>
                                        <form method="post" action="{% url 'fisiocore:logout' %}">
                                            {% csrf_token %}
                                            <button class="button is-normal">{% translate 'logout' %}</button>
                                        </form>
                                    </div>
                            </div>
                            <a class="navbar-item" href="/help">
                                <span class="panel-icon has-text-info">
                                    <i class="fas fa-question" aria-hidden="true"></i>
                                </span>
                                {% translate 'help' %}
                            </a>
                        </div>
                    </div>
                </nav>
            {% endif %}
        {% endblock %}
        {% block messages %}
            {% if messages %}
            <section class="section"  id="notification" >
                <div class="notification is-primary">
                    <button class="delete" onclick="document.getElementById('notification').remove()" ></button>
                    {% for message in messages %}
                    <p>
                    {{message}}
                    </p>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            {% endblock %}
            <section class="section">
                {% block mainheader %}
                <h1 class="title">{{title}}</h1>
                {% endblock %}
                
                {% block submenu %}
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                        {% if patient %}
                            <div class="card mb-2">
                                <div class="card-header">
                                    <p class="card-header-title">{{patient.first_name}} {{patient.last_name}}</p>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% endblock %}

                {% block main %}
                {% endblock %}
            </section>
    <script>   
    {% block js %}
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
    {% endblock %}
    </script>
    </body>
</html>
