{% load i18n %}
<input type="hidden" name="patient" value="{{form.patient.value}}">
<input type="hidden" name="examination" value="{{form.examination.value}}">
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_description">{{form.description.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                {{form.description}}
                <span class="icon is-small is-left">
                    <i class="fas fa-tag"></i>
                </span>
            </p>
            {% for error in form.description.errors %}
            <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_projection">{{form.projection.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                {{form.projection}}
                <span class="icon is-small is-left">
                    <i class="fas fa-tag"></i>
                </span>
            </p>
            {% for error in form.projection.errors %}
            <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_image_type">{{form.image_type.label}}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control is-expanded">
                <div class="select is-fullwidth">
                    {{form.image_type}}
                </div>
            </p>
            {% for error in form.image_type.errors %}
            <p class="help is-danger">{{error}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="id_image">{{form.image.label}}</label>
    </div>
    <div class="field-body">
        <div id="imagefile" class="file has-name is-fullwidth">
            <label class="file-label">
                <input class="file-input" type="file" name="image">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        {% translate 'Choose a file…' %}
                    </span>
                </span>
                <span class="file-name">
                    ...
                </span>
            </label>
        </div>
    </div>
</div>
<script>
    const fileInput = document.querySelector('#imagefile input[type=file]');
    fileInput.onchange = () => {
      if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#imagefile .file-name');
        fileName.textContent = fileInput.files[0].name;
      }
    }
</script>
