@media print {

    body {
        margin: 0;
        color: #000;
        background-color: #fff;
        font: 12pt Tahoma, Verdana, sans-serif;
    }
    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }
    
    table, figure {
        page-break-inside: avoid;
    }
    table {
        width: 100%;
    }
  }

    @page {
        size: A4 portrait;
        margin: 2cm;
    }
    @page:right{
        @bottom-right {
            content: counter(page);
        }
    }
    
    @page:left{
        @bottom-left {
            content: counter(page);
        }
}

h1 {
    font: 16pt Tahoma, Verdana, sans-serif;
    font-weight: bold;
}
    
h2 {
    font: 14pt Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1em;
}

.header-left{
    order: 1;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    order: 2;
}


.document-type{
    font: 20pt Tahoma, Verdana, sans-serif;
    text-align: right;
    margin-top: 2em;
}

.address-line{
    font: 12pt Tahoma, Verdana, sans-serif;
    padding: 0;
    margin: 0.2em 0 0 0;
}

.right-aligned{
    margin: 0 0 0 auto;
}

.spaced {
    margin-top: 1em !important;
}

.signature-space{
    margin-top: 3em !important;
}

.logo{
    margin-left: auto;
    width: 6cm;
}

.invoice-table{
    table-layout: fixed;
    width: 100%;
    border: 0.3mm solid;
    border-collapse: collapse;
}

.invoice-table th{
    font: 12pt Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    padding: 0.1em 0.2em;
    background-color: aaa;
}

.invoice-table td{
    border: 0.3mm solid;
    padding: 1mm;
    
}

.date-col{
    width: 4cm;
    vertical-align: top;
}

.price-col{
    width: 4cm;
    vertical-align: top;
}


